In [ ]:
SELECT sz.SZOBA_ID, COUNT(*) AS 'Db'
FROM SZOBA sz LEFT JOIN FOGLALAS f ON sz.SZOBA_ID = f.SZOBA_FK
GROUP BY sz.SZOBA_ID

In [ ]:
SELECT v.USERNEV, v.NEV, v.EMAIL, v.SZUL_DAT, v.SZAML_CIM
FROM VENDEG v JOIN FOGLALAS f ON v.USERNEV = f.UGYFEL_FK
              JOIN SZOBA sz ON f.SZOBA_FK = sz.SZOBA_ID
WHERE sz.KLIMAS = 'i' AND sz.FEROHELY = (
                                SELECT MAX(FEROHELY)
                                FROM SZOBA
                                WHERE KLIMAS = 'i'
                            )

In [ ]:
SELECT COUNT(DISTINCT FEROHELY) AS 'különböző',
       MIN(FEROHELY) AS 'min',
       MAX(FEROHELY) AS 'max',
       AVG(FEROHELY) AS 'átlag'

FROM SZOBA

In [ ]:
SELECT CAST(METTOL AS DATE) AS 'Datum', SZOBA_FK AS 'Szoba', COUNT(*) AS 'Db'
FROM FOGLALAS
GROUP BY ROLLUP(CAST(METTOL AS DATE), SZOBA_FK)

In [ ]:
SELECT v.NEV, f.METTOL,
       (f.FELNOTT_SZAM + f.GYERMEK_SZAM) AS 'VENDEGEK',
       AVG(f.FELNOTT_SZAM + f.GYERMEK_SZAM) OVER (PARTITION BY v.USERNEV 
                                                  ORDER BY f.METTOL 
                                                  ROWS BETWEEN 4 PRECEDING AND CURRENT ROW
          ) AS 'MOZGO ATLAG'
FROM VENDEG v JOIN FOGLALAS f ON v.USERNEV = f.UGYFEL_FK

In [ ]:
SELECT v.NEV
FROM VENDEG v JOIN FOGLALAS f ON v.USERNEV = f.UGYFEL_FK
              JOIN SZOBA sz ON f.SZOBA_FK = sz.SZOBA_ID
WHERE sz.KLIMAS = 'i'

INTERSECT

SELECT v.NEV
FROM VENDEG v JOIN FOGLALAS f ON v.USERNEV = f.UGYFEL_FK
              JOIN SZOBA sz ON f.SZOBA_FK = sz.SZOBA_ID
WHERE sz.KLIMAS = 'n'